*
{
	font-family: Trebuchet MS ;
}

body
{
	background-image:url('../ims/texture2.png');
	background-size: 100%;
}

h1
{
	padding-top: 15px;
	text-align : center ;
	color : #E4E4E4;	
	font-style: bold; 



}

#contactinf
{
	text-align : center;
	margin-top : 0px;
	padding-top : 35px;
	padding-bottom : 15px;
	color: #E4E4E4	;

}

#page
{

	background-color :rgba(0,0,0,0.5);
	margin: auto;
	margin-top:5%;
	padding-bottom: 15px;
	width : 700px;
	border-radius: 5px;
	box-shadow: 5px 5px 130px #555;


}

#intro
{
	text-align : center;
	font-size : 18px;
	line-height : 50px;
	font-style: bold;
	color : #E4E4E4;
}

#btn
{
	padding-top : 15px;
	text-align: center;
}





#btn form
{
	padding-top : 15px;
	padding-bottom: 15px;
	color : #E4E4E4;

}

#q1
{
	text-align: center ; 
	font-size: 18px; 
	color : #E4E4E4;
}


#playlistornot
{
	margin-left: 22%;

}


#buttonfinalenvoi
{
	margin-left: 41%;
}



#triste
{

	border-radius: 5px;
	margin-left: 32%;


}

#mignon
{

	height : 200px;
	width : 400px;
	border-radius: 5px;
	margin-left: 22%;
	



}

#content
{


	border-radius: 5px;
	margin-bottom: 50px;
	margin-left: 33%;





}

.alerte
{
	text-align : center;
	padding-top : 30px;
	padding-bottom: 30px;
	color : #fff;
	font-size : 20px;
	font-weight : Bold;

}

#q1
{
	padding-top: 50px;
	padding-bottom : 50px;
}

.playlist
{
	text-align : center;

}

.formu
{
	display : inline block ;
	margin-left : 100px ;
	margin-right : 100px;
	margin-top: 10px;
	margin-bottom : 10px;
	padding-top : 15px;
	padding-bottom : 15px;
	border : solid 1.5px #E4E4E4;
	border-radius : 10px;
	color : #E4E4E4;

}

.aj
{
	height: 40px;
	width : 40px;
}

.save
{
	height: 40px;
	width : 40px;

}

.poub
{
	height: 40px;
	width : 40px;
}

